@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --ff-sans: Poppins, sans-serif;

  --fs-base: 0.9375rem;
  --fs-md: 1rem;
  --fs-lg: 1.3rem;
  --fs-xl: 1.6rem;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-gray: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);

  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-base: 2rem;
  --spacing-lg: calc(var(--spacing-base) * 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100dvh;
  color: var(--neutral-dark-blue);
  font: var(--fs-base) / 1.5 var(--ff-sans);
  font-weight: var(--fw-regular);
}

footer span {
  color: red;
}

h1 {
  margin-bottom: var(--spacing-sm);
  font-weight: var(--fw-light);
  font-size: var(--fs-xl);
}

h1 span {
  font-weight: var(--fw-bold);
}

p {
  color: var(--neutral-gray);
  font-weight: var(--fw-regular);
  font-size: var(--fs-md);
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  margin: var(--spacing-lg) auto;
  max-width: 65rem;
}

.wrapper.narrow {
  margin-bottom: var(--spacing-base);
  width: min(55ch, 100% - var(--spacing-lg));
  text-align: center;
}

footer .wrapper.narrow {
  margin-bottom: var(--spacing-lg);
}

.cards-layout {
  margin: 0 auto;
  display: grid;
  gap: var(--spacing-base);
}

.card {
  margin: 0 auto;
  padding: 1.5rem;
  min-height: 200px;
  max-width: min(340px, 100%);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-top: 4px solid transparent;
  text-align: left;
}

.card h2 {
  margin-bottom: 0.3rem;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
}

.card p {
  font-size: var(--fs-base);
}

.card img {
  margin: var(--spacing-sm) 0 0 auto;
  display: block;
}

#supervisor {
  border-color: var(--primary-cyan);
}
#team-builder {
  border-color: var(--primary-red);
}
#karma {
  border-color: var(--primary-orange);
}
#calculator {
  border-color: var(--primary-blue);
}
