@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --ff-sans: Poppins, sans-serif;

  --fs-base: 0.9375rem;
  --fs-md: 1rem;
  --fs-lg: 1.3rem;
  --fs-xl: 1.6rem;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;

  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-dark-blue: hsl(234, 12%, 34%);
  --neutral-gray: hsl(229, 6%, 66%);
  --neutral-light-gray: hsl(0, 0%, 98%);

  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-base: 2rem;
  --spacing-lg: calc(var(--spacing-base) * 2);
}
